@import '../../colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


        .cards {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 20px;
           
    
            .card {
                min-width: 300px;
                height: 260px;
        
                border-radius: 12px;
                box-shadow: 
                    rgba(0, 0, 0, 0.19) 0px 10px 20px, 
                    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
                .card-cabecalho {
                    padding: 8px 0px;
                    font-size: 14px;
                    text-align: center;
                    border-radius: 12px 12px 0px 0px;
                }
    
                .card-conteudo {
                    padding: 12px;
                    height: 180px;
    
                    pre {
                        height: 150px;
                        margin-top: 12px;
                        text-wrap: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .data{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    justify-content: end;
                    margin-right: 20px;
                    .tag {
                  
                        background-color: $destaque;
                        color: $primaria;
                        font-weight: bold;
                        padding: 2px 8px;
                        width: 120px;
                        text-align: center;
                        border-radius: 12px;
                    }
                }
              
            }
        }
    